*{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
    background-color: black;
    color:white;
    height:10vmin;
}
.flex{
    display:flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}
.choices{
height:200px;
width:200px;
border-radius: 50%;
display:flex;
justify-content: center;
align-items: center;
}
img{
    height:180px;
    width:180px;
    border-radius: 50%;
    object-fit: cover;
}
.choices:hover{
    background-color: black;
    opacity:0.5;
}
.score-board{
display: flex;
justify-content: center;
align-items: center;
}
.score,p{
    padding:.8rem;
    text-align: center;
    font-weight: 700;
    font-size:1.5rem;

    
}
#msg,#reset{
   background-color: black;
   color:white; 
  border-radius: .6rem;
  margin:1em;
}
.flash{
    background-color: rgb(0, 157, 255);
}